.font-16 > * {
  font-size: 16px;
}

.font-24 > * {
  font-size: 24px;
}

.app-light {
  background-color: #fff;
  color: #000;
}
.app-light > button {
  background-color: #000;
  color: #fff;
}

.app-dark {
  background-color: #000;
  color: #fff;
}
.app-dark > button {
  background-color: #fff;
  color: #000;
}